

*{
    margin: 0;padding: 0;
    background-color: black;
    /* background-image: url(../Images/); */

}

div{
    background-color: rgb(0, 0, 0);
    color: #fa6b6b;
}
h1 , h2{
    color: rgb(255, 255, 255);
    
}
h1{
font-size: 5.1vh;
margin-top: 18vh;
padding-left: 90px;
font-family:Georgia, 'Times New Roman', Times, serif;

}

h2{
    font-size: 3vh;
    margin-top: 0.6vh;
    padding-left: 150px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    }

nav{
    /* background-image: var(or) */
    height: 29vh;
}



.imagebackground{
    height: 15vh;
    width: 139vh;
}

span{
    color: #fa6b6b;
}

.github{
    background-color: rgb(255, 255, 255);
    height: 7.6vh;
    border-radius: 160px;
    border: #797777 solid 5px;
    padding: 6px;
    margin-left: 70vw;
   padding-top: 10px;


}
.github:hover{
    background-color: rgb(230, 228, 228);
    height: 7.9vh;
    border-radius: 160px;
    border: #858484 solid 5px;
    padding: 4px;
    margin-left: 70vw;
   background-position: right;
}

.instagram{
    background-color: rgb(240, 198, 198);
    height: 8.6vh;
    border-radius: 160px;
    border: #797777 solid 5px;
    padding: 9px;
    margin-left:80vw;
    margin-top: fr;

}
.instagram:hover{
    background-color: rgb(230, 228, 228);
    height: 8.9vh;
    border-radius: 160px;
    border: #858484 solid 5px;
    padding: 6px;
    margin-left:80vw;
   background-position: right;
}


.instagram:hover{
    background-color: rgb(230, 228, 228);
    height: 8.9vh;
    border-radius: 160px;
    border: #858484 solid 5px;
    padding: 6px;
    margin-left:80vw;
   background-position: right;
}

.MERN-logo{
 /* height:9vh; */
/* width: 10vw */
padding: 15px;
/* border-radius: 100px; */
/* background-color: rgb(61, 61, 61); */
margin: 5px;

background-color: rgb(0, 0, 0);
height: 7.6vh;
border-radius: 160px;
border: #aaaaaa solid 2px;
/* padding: 10px; */
/* margin-left: 70vw; */
padding-top: 10px;
}

.MERN-logo:hover{
    /* height:9vh; */
    /* width: 10vw; */
    /* padding: 20px; */
    /* border-radius: 100px; */
    height: 6.9vh;
   background-color: rgb(0, 0, 0);
   margin: 5px;

   background-color: rgb(226, 226, 226);
   border-radius: 160px;
   border: #858484 solid 2px;
   padding: 4px;
   /* margin-left: 70vw; */
  /* background-position: right; */
   
   }

ul {
    display: flex;
    flex-direction: row;
    padding-left: 110px;
    margin-top: 10px;
    /* padding: 20px; */
   

}
.intro{
    margin: 100px;
    margin-top: 25px;
    margin-bottom: 10vh;
    padding-top: 10vh;

    color: rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}


#about{
    background-color: #973939;
    border: #797777 solid 1px;

}

.aboutme-intro{
    /* margin: 9vh; */
    margin-top: 20vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.scroll{
    height: 16vh;
    width: 12vw;
    margin-left: 59vh;
    margin-bottom: 15vh;
}

.aboutme{
   background-color: aliceblue; 
}

.aboutme-logo{
    /* border: #858484 solid 1.0px; */
    border-radius: 10px;
    margin: 10px;
    margin-top: 35px;
    margin-bottom: 10vh;
    padding-left: 42vw;

}

.section-about{
    /* background-image: url(../Images/aboutpic.gif); */
    border: #858484 solid 1.0px;
    border-radius: 10px;
    margin: 7px;
    width: 95.6vw;
    height: 140vh;
    margin-bottom: 15vh;

}

.p-intro{
    margin: 9vh;
    margin-top: 10vh;
    padding: 12.5px;   
}

.here{
    
    color: #ffffff;
   
}

.blog-logo{
    color: #11e3ff;
    margin-top: 10vh;
    padding-left: 45px;
    padding-top: 30px;
}

.blog-pic{
    border: #0cc6df solid 3.0px;
    border-radius: 10px;
    margin: 40px;
    margin-left: 30%;
    padding: 10px;
    padding-top: 20px;
    padding-left: 10px;
    height: 45vh;
    width: 45vh;

}

.blog-pic:hover{
    border: #32d7ec solid 8px;
       border-radius: 10px;
    margin: 40px;
    margin-left: 30%;
    padding: 10px;
    padding-top: 20px;
    padding-left: 10px;
    height: 45.3vh;
    width: 45.3vh;

}

.info-blog{
    margin: 9vh;
    margin-bottom: 5vh;
    color: white;
    /* border: #797777 solid 2px; */
    padding: 12.5px;
}

.arrow{
    margin-left: 45%;
    height: 7vh;
    width:7vw;
}
.projects-section{
    margin-top: 15vh;
    border: #acabab solid 1px;
    height: 100vh;
    width: 96vw;
}

.project-logo{
    /* border: #858484 solid 1.0px; */
    margin: 10px;
    margin-top: 35px;
    padding-left: 42vw;
}

.projects-desc{
    margin: 9vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    padding: 10px;
}


.section-Contact{
    margin-top: 10vh;
    border: #acabab solid 1px;
    height: 100vh;
    width: 135.5vh;
}

.contact-logo{
    padding-left: 43.5vw;
    padding-top: 4vh;
}




.form-section{
    color: #ffffff;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
border: #afafaf solid 7px;
margin-left: 10vh;
    height:  50vh;
    width: 50vw;
    background-color: #fafafa;
}


#name , #email{
    background-color: #f5efef;
    border: #070707 solid 50px;
    padding: 8px;
    width: 40vw;

}

.send-btn{
margin-top: 10px;
margin-left: 38%;
    background-color: #5fc6f5;
    border: #000000 solid 2px;
    border-radius: 20px;
    color: #ffffff;
    height: 7.6vh;
    width: 10vw;
    font-size: 20px;
    font-weight: bold;
}

.send-btn:hover{
    padding: 10px;
    margin-top: 10px;
    margin-left: 38%;
    background-color: #33b9f7;
        border: #000000 solid 2px;
        border-radius: 20px;
        color: #ffffff;
        height: 7.9vh;
        width: 10.5vw;
        font-size: 25px;
        font-weight: bold;
    }



    .skills-section{
        border: #acabab solid 1px;
        height: 200vh;
        width: 96vw;

    }

    .skils-logo{
        padding-left: 43.5vw;
        padding-top: 4vh;

    }

.skills-intro{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-bottom: 10vh;

}

.frontend-desc{
    margin: 9vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    padding: 10px;

}

.backend-desc{
    margin: 9vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    padding: 10px;

}

.DB-desc{
    margin: 9vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    padding: 10px;

}

.frontend-logo{
    margin-top: 5vh;
    padding: 15px;
    margin-bottom: 5vh;
    border: #999595 solid 2px;
    border-radius: 30px;
    height: 25vh;
    width: 50vh;
}


.backend-logo{
    margin-top: 5vh;
    padding: 20px;
    margin-bottom: 5vh;
    border: #999595 solid 2px;
    border-radius: 30px;
    height: 25vh;
    width: 50vh;
}

